[submodule "brandon_senior_project"]
	path = brandon_senior_project
	url = https://github.com/rileyweber13/Capstone2017.git
	update = merge
	branch = master

[submodule "convolution-fast"]
	path = convolution-fast
	url = https://github.com/rileyweber13/convolution-fast.git
	update = merge
	branch = fhv-test

[submodule "polynomial_expansion"]
	path = polynomial_expansion
	url = https://github.com/esaule/polynomial_expansion.git
	update = merge
	branch = master

