# binaries and intermediate files
bin
obj
examples/**/bin
tests/likwid_minimal

# some test data
tests/data/unreasonably-high-values

# torq
*.e*
*.o*

# fhv output
*.json
*.svg

# archives
*.tar.gz

# assembly
asm

# editor settings
.vscode
.clangd
*.swp
Session.vim
.python-version

